@CHARSET "ISO-8859-1";

#Arena {
	/* height: 650px; */
	
}

.GameSetup {
	top: 23%;
	position: fixed;
	left: 43%;
}

@media ( max-width : 767px) {
	.GameSetup {
		top: 23%;
		position: fixed;
		left: 43%;
	}
}

.bedsheet {
	-webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
	-moz-transform: skew(0deg, -30deg) scale(1, 1.16);
	-o-transform: skew(0deg, -30deg) scale(1, 1.16);
	-ms-transform: skew(0deg, -30deg) scale(1, 1.16);
	transform: skew(31deg, -19deg) scale(2.1, 2.03);
	background-color: rgba(202, 68, 68, 0.59);
	font-size: 0.862em;
	width: 400px;
	height: 200px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 2px gray inset;
}

.joker {
	width: 74px;
	height: 118px;
	-moz-transform: rotate(-41deg);
	-webkit-transform: rotate(-41deg);
	-o-transform: rotate(-41deg);
	-ms-transform: rotate(-41deg);
	transform: rotate(-41deg);
	position: relative;
	left: 15px;
	top: 116px;
	background: url('../images/Cards/DiamondCards/7.png');
	background-size: 99px 137px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	margin: 0px auto;
}

.opencard {
	width: 74px;
	height: 118px;
	-moz-transform: rotate(77deg);
	-webkit-transform: rotate(77deg);
	-o-transform: rotate(77deg);
	-ms-transform: rotate(77deg);
	transform: rotate(77deg);
	position: relative;
	left: 211px;
	top: -183px;
	background: url('../images/Cards/DiamondCards/3.png');
	background-size: 74px 118px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	color: darkblue;
	cursor: pointer;
	z-index: 11;
	margin: 0px auto;
}

.deckNextCard {
	width: 78px;
	height: 117px;
	-moz-transform: rotate(48deg);
	-webkit-transform: rotate(48deg);
	-o-transform: rotate(48deg);
	-ms-transform: rotate(48deg);
	transform: rotate(48deg);
	position: relative;
	left: 112px;
	top: -112px;
	background: url('../images/Cards/BackShades/bg-red.png');
	background-size: 78px 117px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	color: darkblue;
	cursor: pointer;
	z-index: 11;
	margin: 0px auto;
	-webkit-transform: rotate(48deg);
	-o-transform: rotate(48deg);
	-ms-transform: rotate(48deg);
	transform: rotate(48deg);
}

.centerstage {
	background: url('../images/GameArena/GameStageCardSlide.png');
	min-width: 227px;
	min-height: 189px;
	background-size: 227px 189px;
	background-repeat: no-repeat;
	position: relative;
	left: 103px;
	top: 15px;
	margin: 0px auto;
	width: 288px;
}

.player {
	position: fixed;
	width: 75px;
	height: 75px;
	font-size: 30px;
	background: rgba(3, 106, 172, 1);
	border-radius: 50%;
	text-align: center;
	/* 	padding-top: 9px; */
	border: 1px solid rgb(102, 106, 134);
	box-shadow: 0px 0px 5px 0px rgb(79, 113, 219);
	font-size: 40px;
	color: rgb(253, 242, 242);
}

.player:hover {
	box-shadow: 0px 0px 13px 4px rgb(224, 149, 30);
}

.player1-position {
	left: 55%;
	bottom: 5px;
}

.player2-position {
	left: 19%;
	/* top: -100px; */
	bottom: 28%;
}

.player3-position {
	left: 25%;
	/* top: -385px; */
	bottom: 54%;
}

.player4-position {
	left: 40%;
	bottom: 74%;
}

.player5-position {
	left: 54%;
	bottom: 74%;
}

.player6-position {
	left: 73%;
	bottom: 70%;
}

.player7-position {
	left: 84%;
	bottom: 51%;
}

.player8-position {
	left: 90%;
	bottom: 28%;
}

.indicator {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #C2DBC8;
	position: relative;
	top: -24px;
	left: 24px;
}

.indicator>p {
	position: relative;
	font-size: 19px;
	left: -39px;
	top: -41px;
	color: crimson;
	min-width: 80px;
}

.player-cards {
	position: absolute;
	left: -279px;
	top: -223px;
	/* border: 1px solid black; */
	/* overflow: auto; */
	min-width: 585px;
	padding: 40px;
	height: 195px;
}

.cardContent {
	/* overflow: auto; */
	padding: 32px;
}

.card {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(125, 131, 141);
	border-radius: 9px;
	display: block;
	position: relative;
}

.card:hover .card.hover {
	box-shadow: 0px 0px 10px 2px green;
}

.src-selected-card {
	box-shadow: 0px 0px 1px 2px blue;
}

.dest-selected-card {
	box-shadow: 0px 0px 1px 2px red;
}

.card-picked {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(125, 131, 141);
	border-radius: 9px;
	display: block;
	position: relative;
}

.card-dropped {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(125, 131, 141);
	border-radius: 9px;
	display: block;
	position: relative;
}

/* .card:active
{
	margin-top:-20px;
} */
.card1-pos {
	-moz-transform: rotate(-24deg);
	-webkit-transform: rotate(-24deg);
	-o-transform: rotate(-24deg);
	-ms-transform: rotate(-24deg);
	transform: rotate(-24deg);
	margin-left: -5px;
	z-index: 10;
	-webkit-transform: rotate(-24deg);
	-o-transform: rotate(-24deg);
	-ms-transform: rotate(-24deg);
	transform: rotate(-24deg);
}

.card2-pos {
	-moz-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	transform: rotate(-9deg);
	margin-left: 14px;
	margin-top: 5px;
	z-index: 20;
	-webkit-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	transform: rotate(-9deg);
}

.card3-pos {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	margin-left: 33px;
	margin-top: 9px;
	z-index: 30;
}

.card4-pos {
	transform: rotate(19deg);
	margin-left: 54px;
	margin-top: 24px;
	z-index: 40;
}

.card5-pos {
	transform: rotate(35deg);
	margin-left: 64px;
	margin-top: 39px;
	z-index: 50;
}

.card6-pos {
	transform: rotate(4deg);
}

.card7-pos {
	transform: rotate(13deg);
}

.card8-pos {
	transform: rotate(21deg);
}

.card9-pos {
	transform: rotate(29deg);
	margin-left: -100px;
}

.card0-pos {
	transform: rotate(-40deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
}

.card-1-pos {
	transform: rotate(-60deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
}

.card10-pos {
	transform: rotate(40deg);
	margin-left: -100px;
}

.card11-pos {
	transform: rotate(49deg);
	margin-left: -100px;
}

.Sevencard-1-pos {
	-moz-transform: rotate(-49deg);
	-webkit-transform: rotate(-49deg);
	-o-transform: rotate(-49deg);
	-ms-transform: rotate(-49deg);
	transform: rotate(-49deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
	-webkit-transform: rotate(-49deg);
	-o-transform: rotate(-49deg);
	-ms-transform: rotate(-49deg);
	transform: rotate(-49deg);
}

.Sevencard-2-pos {
	-moz-transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -158px;
	left: 232px;
	-webkit-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
}

.Sevencard-3-pos {
	-moz-transform: rotate(-23deg);
	-webkit-transform: rotate(-23deg);
	-o-transform: rotate(-23deg);
	-ms-transform: rotate(-23deg);
	transform: rotate(-23deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -320px;
	left: 251px;
}

.Sevencard-4-pos {
	-moz-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	transform: rotate(-9deg);
	margin-left: 14px;
	margin-top: 5px;
	z-index: 20;
	top: -480px;
	left: 235px;
}

.Sevencard-5-pos {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	margin-left: 33px;
	margin-top: 9px;
	z-index: 30;
	top: -640px;
	left: 233px;
}

.Sevencard-6-pos {
	-moz-transform: rotate(19deg);
	-webkit-transform: rotate(19deg);
	-o-transform: rotate(19deg);
	-ms-transform: rotate(19deg);
	transform: rotate(19deg);
	margin-left: 54px;
	margin-top: 24px;
	z-index: 40;
	top: -811px;
	left: 230px
}

.Sevencard-7-pos {
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	transform: rotate(35deg);
	margin-left: 64px;
	margin-top: 39px;
	z-index: 50;
	top: -991px;
	left: 232px
}

.Sevencard-8-pos {
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	transform: rotate(49deg);
	margin-left: 73px;
	margin-top: -7px;
	z-index: 50;
	top: -1127px;
	left: 232px
}

.ThirteenCard-1-pos {
	-moz-transform: rotate(-129deg);
	-webkit-transform: rotate(-129deg);
	-o-transform: rotate(-129deg);
	-ms-transform: rotate(-129deg);
	transform: rotate(-129deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
}

.ThirteenCard-2-pos {
	-moz-transform: rotate(-109deg);
	-webkit-transform: rotate(-109deg);
	-o-transform: rotate(-109deg);
	-ms-transform: rotate(-109deg);
	transform: rotate(-109deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
}

.ThirteenCard-3-pos {
	-moz-transform: rotate(-69deg);
	-webkit-transform: rotate(-69deg);
	-o-transform: rotate(-69deg);
	-ms-transform: rotate(-69deg);
	transform: rotate(-69deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
}

.ThirteenCard-4-pos {
	-moz-transform: rotate(-49deg);
	-webkit-transform: rotate(-49deg);
	-o-transform: rotate(-49deg);
	-ms-transform: rotate(-49deg);
	transform: rotate(-49deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
	-webkit-transform: rotate(-49deg);
	-o-transform: rotate(-49deg);
	-ms-transform: rotate(-49deg);
	transform: rotate(-49deg);
}

.ThirteenCard-5-pos {
	-moz-transform: rotate(-35deg);
	-webkit-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -158px;
	left: 232px;
	-webkit-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	-ms-transform: rotate(-35deg);
	transform: rotate(-35deg);
}

.ThirteenCard-6-pos {
	-moz-transform: rotate(-23deg);
	-webkit-transform: rotate(-23deg);
	-o-transform: rotate(-23deg);
	-ms-transform: rotate(-23deg);
	transform: rotate(-23deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -320px;
	left: 251px;
}

.ThirteenCard-7-pos {
	-moz-transform: rotate(-9deg);
	-webkit-transform: rotate(-9deg);
	-o-transform: rotate(-9deg);
	-ms-transform: rotate(-9deg);
	transform: rotate(-9deg);
	margin-left: 14px;
	margin-top: 5px;
	z-index: 20;
	top: -480px;
	left: 235px;
}

.ThirteenCard-8-pos {
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	margin-left: 33px;
	margin-top: 9px;
	z-index: 30;
	top: -640px;
	left: 233px;
}

.ThirteenCard-9-pos {
	-moz-transform: rotate(19deg);
	-webkit-transform: rotate(19deg);
	-o-transform: rotate(19deg);
	-ms-transform: rotate(19deg);
	transform: rotate(19deg);
	margin-left: 54px;
	margin-top: 24px;
	z-index: 40;
	top: -811px;
	left: 230px
}

.ThirteenCard-10-pos {
	-moz-transform: rotate(35deg);
	-webkit-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	transform: rotate(35deg);
	margin-left: 64px;
	margin-top: 39px;
	z-index: 50;
	top: -991px;
	left: 232px
}

.ThirteenCard-11-pos {
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	transform: rotate(49deg);
	margin-left: 73px;
	margin-top: -7px;
	z-index: 50;
	top: -1127px;
	left: 232px
}

.ThirteenCard-12-pos {
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	transform: rotate(49deg);
	margin-left: 73px;
	margin-top: -7px;
	z-index: 50;
	top: -1127px;
	left: 232px
}

.ThirteenCard-13-pos {
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	transform: rotate(49deg);
	margin-left: 73px;
	margin-top: -7px;
	z-index: 50;
	top: -1127px;
	left: 232px
}

.ThirteenCard-14-pos {
	-moz-transform: rotate(49deg);
	-webkit-transform: rotate(49deg);
	-o-transform: rotate(49deg);
	-ms-transform: rotate(49deg);
	transform: rotate(49deg);
	margin-left: 73px;
	margin-top: -7px;
	z-index: 50;
	top: -1127px;
	left: 232px
}

#cardintercept {
	border: 1px solid rgb(15, 67, 113);
	margin-left: 178px;
	overflow: auto;
}

.card-intercept {
	border: 1px solid purple;
	float: left;
	min-height: 27px;
}

.pointDisplayer {
	height: 61px;
	width: 61px;
	border: 2px solid rgb(205, 49, 49);
	background: rgb(223, 186, 186);
	border-radius: 50px;
	color: rgb(177, 82, 82);
	font-size: 20px;
	text-align: center;
	padding-top: 13px;
	position: absolute;
	left: 326px;
	top: 108px;
	z-index: 400;
	display: none;
}

.cardindicator {
	background: url('../images/icons/32x32/CardInsertInd.png');
	background-size: 20px 32px;
	background-repeat: no-repeat;
	width: 20px;
	height: 32px;
	margin-left: -21px;
	margin-top: -16px;
	display: none;
}

.GameTools {
	position: relative;
	width: 1083px;
	z-index: 999;
	min-height: 54px;
	background: rgb(23, 22, 22);
	box-shadow: 0px 0px 10px 3px gray;
	float: right;
	border-radius: 10px;
	color: whitesmoke;
	top: -562px;
	left: 45px;
}

.GameTools-mini {
	min-height: 59px;
	width: 567px;
}

.toolheading {
	min-height: 30px;
	background: rgb(172, 3, 3);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	padding-left: 10px;
	padding-top: 4px;
	cursor: move;
}

.toolcontent {
	padding-left: 10px;
}

.tool {
	min-width: 30px;
	display: inline-block;
	height: 30px;
	cursor: pointer;
	color: gray;
	margin-top: 10px;
}

.tool:hover {
	color: rgb(3, 106, 172);
	/* border:1px solid;
	border-radius:5px; */
}

.tool-mini button>i {
	font-size: 20px !important;
}

.chattool {
	background: url('../images/icons/24x24/chaticon.png');
}

.btn-tool {
	color: #fff;
	background-color: #606264;
	border-color: #796C6C;
}

.btn-tool:hover {
	color: #191616;
	background-color: #E2E2E2;
	border-color: #FDF2F2;
}

.cardpickuparea {
	border: 3px dashed rgb(155, 208, 170);
	width: 157px;
	height: 193px;
	color: rgb(169, 208, 181);
	font-size: 25px;
	border-radius: 10px;
	position: relative;
	top: -218px;
	left: 279px;
	padding: 22px;
	text-align: center;
}

.dropcardarea {
	border: 3px dashed rgb(221, 151, 151);
	width: 157px;
	height: 193px;
	color: rgb(223, 135, 135);
	font-size: 25px;
	border-radius: 10px;
	position: relative;
	top: -400px;
	left: -377px;
	padding: 22px;
	text-align: center;
}

.PlayerDropCard {
	width: 74px;
	height: 118px;
	position: relative;
	/* background: url('../images/Cards/DiamondCards/3.png'); */
	background-size: 74px 118px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	color: darkblue;
	cursor: pointer;
	opacity: .65;
	z-index: 11;
}

.PlayerDropCard:hover {
	box-shadow: 0px 0px 10px 3px orange;
}

.drop2 {
	-moz-transform: rotate(77deg);
	-webkit-transform: rotate(77deg);
	-o-transform: rotate(77deg);
	-ms-transform: rotate(77deg);
	transform: rotate(77deg);
	left: 116px;
	top: -92px;
}

.drop3 {
	-moz-transform: rotate(94deg);
	-webkit-transform: rotate(94deg);
	-o-transform: rotate(94deg);
	-ms-transform: rotate(94deg);
	transform: rotate(94deg);
	left: 111px;
	top: -64px;
	/* background: url('../images/Cards/SpadeCards/3.png');
	background-size: 74px 118px; */
}

.drop4 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	left: -85px;
	top: -97px;
	/* background: url('../images/Cards/SpadeCards/A.png');
	background-size: 74px 118px; */
}

.drop5 {
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	left: -85px;
	top: -97px;
	/* background: url('../images/Cards/SpadeCards/A.png');
	background-size: 74px 118px; */
}

.drop6 {
	-moz-transform: rotate(-85deg);
	-webkit-transform: rotate(-85deg);
	-o-transform: rotate(-85deg);
	-ms-transform: rotate(-85deg);
	transform: rotate(-85deg);
	left: -119px;
	top: -64px;
	/* background: url('../images/Cards/HeartCards/10.png');
	background-size: 74px 118px; */
}

.drop7 {
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
	left: -119px;
	top: -64px;
	/* background: url('../images/Cards/HeartCards/5.png');
	background-size: 74px 118px; */
}

.drop8 {
	-moz-transform: rotate(-51deg);
	-webkit-transform: rotate(-51deg);
	-o-transform: rotate(-51deg);
	-ms-transform: rotate(-51deg);
	transform: rotate(-51deg);
	left: -101px;
	top: -64px;
	/* background: url('../images/Cards/ClubCards/7.png');
	background-size: 74px 118px; */
}

.showJoker {
	width: 500px;
	height: 336px;
	/* position: fixed;
	left: 300px;
	top: 100px;
	background: rgb(23, 22, 22);
	z-index: 1000;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px rgb(30, 28, 28); */
}

.windowtooling {
	min-height: 36px;
	background: rgb(172, 3, 3);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	padding-left: 10px;
	padding-top: 9px;
	cursor: move;
}

.windowcontent {
	text-align: center;
	color: rgb(191, 194, 197);
	overflow: hidden;
	padding: 8px;
}

.actionarea {
	height: 50px;
	position: relative;
	bottom: -6px;
	background: rgb(46, 44, 42);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.actionarea button {
	float: right;
	margin-top: 8px;
	margin-right: 7px;
}

.toolarea {
	height: 40px;
	position: relative;
	background: rgb(46, 44, 42);
}

.toolarea button {
	float: left;
	margin-top: 4px;
	margin-left: 3px;
}

.toolarea span {
	float: left;
	padding-top: 10px;
	padding-right: 2px;
	padding-left: 10px;
	color: white;
}

.jokershowcard {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(125, 131, 141);
	border-radius: 9px;
	display: inline-block;
	position: relative;
}

.declareGame {
	width: 1200px;
	/* min-height: 336px;
	position: fixed;
	left: 30px;
	top: 100px;
	background: rgb(23, 22, 22);
	z-index: 1000;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px rgb(30, 28, 28); */
}

.timer {
	width: 64px;
	height: 64px;
	position: relative;
	left: 7px;
	top: -102px;
	/* border: 3px solid rgb(50, 57, 50);
	border-radius: 40px; */
	background: rgb(239, 201, 75);
	text-align: center;
	font-size: 24px;
	padding-top: 7px;
	color: rgb(52, 48, 40);
	background: url('../images/icons/64x64/Timer.png');
	background-size: 64px 64px;
}

.timerhost {
	left: -100px !important;
	top: -460px !important;
}

.seconds {
	width: 36px;
	height: 31px;
	background-color: rgb(246, 245, 245);
	margin-left: 12px;
	margin-top: 9px;
	border-radius: 40px;
}

.meld {
	display: inline-block;
	padding: 17px;
}

.meldcard {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(81, 86, 95);
	border-radius: 9px;
	display: inline-block;
	position: relative;
	background: rgb(225, 227, 236);
}

.meldcard-select {
	box-shadow: 0px 0px 10px 3px rgb(17, 71, 246);
}

.meldmessage {
	position: relative;
	top: -292px;
	/* left: 65px; */
	/* border: 1px solid; */
}

.meldcardarea,.winnerdeclaredarea {
	text-align: left;
	padding-left: 30px;
	overflow: hidden;
	min-height: 249px;
	float: left;
	clear: both;
}

.toolsep {
	font-size: 33px;
	padding-top: 1px !important;
	color: rgb(244, 244, 245) !important;
	text-shadow: 2px -1px 4px rgba(125, 92, 171, 1);
	margin-top: -8px;
	font-weight: bold;
}

.meldheading {
	background: none repeat scroll 0% 0% #6E6969;
	height: 35px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	padding: 5px;
	color: #FFF;
}

.meldgroup {
	text-align: left;
	display: inline-block;
	border: 1px solid rgb(201, 201, 218);
	border-radius: 7px;
	margin-top: 20px;
	margin-right: 20px;
}

.meld-3 {
	width: 200px;
	margin-top: 23px;
	float: left;
	height: 200px;
	border: 1px dashed rgb(237, 237, 237);
	border-radius: 10px;
	cursor: pointer;
}

.meld-foldcard {
	width: 155px;
	margin-top: 23px;
	float: left;
	height: 200px;
	border: 1px dashed rgb(60, 55, 55);
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
}

.meld-3:hover,.meld-4:hover,.meld-select,.meld-foldcard:hover {
	border-radius: 11px;
	box-shadow: 0px 0px 18px 2px rgb(172, 3, 3) inset;
}

.meld-4 {
	width: 300px;
	margin-top: 23px;
	float: left;
	height: 200px;
	border: 1px dashed rgb(237, 237, 237);
	border-radius: 10px;
	cursor: pointer;
}

.meld-3 .card1 {
	transform: rotate(-23deg);
	left: 31px;
	top: 16px;
}

.meld-3 .card2 {
	left: 46px;
	top: -146px;
	transform: rotate(-9deg);
}

.meld-3 .card3 {
	left: 63px;
	top: -304px;
	transform: rotate(3deg);
}

.meld-4 .card1 {
	transform: rotate(-32deg);
	top: 21px;
	left: 63px;
}

.meld-4 .card2 {
	transform: rotate(-20deg);
	left: -30px;
	top: 20px;
}

.meld-4 .card3 {
	left: 97px;
	top: -142px;
	transform: rotate(-9deg);
}

.meld-4 .card4 {
	left: 4px;
	top: -134px;
	transform: rotate(4deg);
}

.meld-4 .meldmessage {
	top: -127px;
}

.meld-foldcard .card1 {
	top: 4px;
}

.jokerseen {
	background: url('../images/icons/64x64/Joker-Seen.png');
	background-size: 40px 40px;
	width: 40px;
	height: 40px;
	position: relative;
	left: 95px;
	top: -65px;
}

.declareshowCards {
	width: 1200px;
	min-height: 336px;
	/* 	position: fixed;
	left: 30px;
	top: 100px;
	background: rgb(23, 22, 22);
	z-index: 1000;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px rgb(30, 28, 28);
 */
}

.restcards .restcard1 {
	top: 21px;
	left: 14px;
}

.restcards .restcard2 {
	left: -65px;
	top: 21px;
}

.restcards .restcard3 {
	left: 76px;
	top: -144px;
}

.restcards .restcard4 {
	left: -8px;
	top: -143px;
}

.restcard {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(81, 86, 95);
	border-radius: 9px;
	display: inline-block;
	position: relative;
	background: url('../images/Cards/BackShades/bg-red.png');
	background-size: 110px 160px;
}

.removemeldgrp-3 {
	position: relative;
	left: 180px;
	margin-top: 45px;
	width: 19px;
	height: 19px;
	padding: 0px;
	padding-left: 6px;
	color: white;
	font-size: 13px;
	top: -543px;
	background: rgb(172, 3, 3);
	border-radius: 50px;
	cursor: pointer;
}

.removemeldgrp-4 {
	position: relative;
	left: 280px;
	margin-top: 45px;
	width: 19px;
	height: 19px;
	padding: 0px;
	padding-left: 6px;
	color: white;
	font-size: 13px;
	top: -375px;
	background: rgb(172, 3, 3);
	border-radius: 50px;
	cursor: pointer;
}

.removemeldgrp-rest {
	position: relative;
	left: 200px;
	margin-top: 45px;
	width: 19px;
	height: 19px;
	padding: 0px;
	padding-left: 6px;
	color: white;
	font-size: 13px;
	top: -375px;
	background: rgb(172, 3, 3);
	border-radius: 50px;
	cursor: pointer;
}

.removemeldgrp-3:hover {
	background: white;
	color: black;
}

.removemeldgrp-4:hover {
	background: white;
	color: black;
}

.removemeldgrp-rest:hover {
	background: white;
	color: black;
}

.restcards {
	width: 222px;
	margin-top: 23px;
	float: left;
	height: 200px;
	border: 1px dashed rgb(237, 237, 237);
	border-radius: 10px;
	cursor: pointer
}

.cardposind {
	display: block;
	width: 20px;
	height: 20px;
	font-size: 15px;
	color: rgb(161, 160, 191);
	position: relative;
	top: -31px;
	left: 16px;
	border: 1px solid rgb(134, 134, 149);
	border-radius: 50px;
	background: white;
}

.showPoints {
	width: 600px;
	/* min-height: 336px;
	position: fixed;
	left: 30px;
	top: 100px;
	background: rgb(23, 22, 22);
	z-index: 1000;
	border-radius: 10px;
	box-shadow: 0px 0px 20px 3px rgb(30, 28, 28);
 */
}

.showPoints .windowcontent {
	/* text-align: center; */
	color: rgb(191, 194, 197);
	overflow: auto;
	padding: 8px;
	height: 307px;
}

.showPoints .table {
	color: rgb(210, 210, 210);
	font-size: 13px;
}

.showPoints .table-striped>tbody>tr:nth-child(odd) {
	background-color: #323232;
}

.showPoints .table-striped>tbody td {
	text-align: left;
}

.clickopentag {
	position: relative;
	left: -45px;
	transform: rotate(-77deg);
	top: -133px;
	font-size: 17px;
	min-width: 221px;
	color: rgb(193, 126, 85);
}

.click-selected-card {
	width: 103px;
	height: 20px;
	margin-left: 29px;
	margin-top: -60px;
	font-size: 12px;
	color: rgb(235, 229, 229);
	background: rgb(73, 76, 77);
	font-weight: 500;
	padding: 1px;
	border: 1px solid rgb(170, 171, 171);
	box-shadow: 0px 0px 1px 0px rgb(98, 101, 105);
	transform: rotate(-35deg);
	border-radius: 20px;
	cursor: pointer;
}