@CHARSET "ISO-8859-1";

#Arena {
	min-height: 100vh;
}

.bedsheet {
	-webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
	-moz-transform: skew(0deg, -30deg) scale(1, 1.16);
	-o-transform: skew(0deg, -30deg) scale(1, 1.16);
	-ms-transform: skew(0deg, -30deg) scale(1, 1.16);
	transform: skew(31deg, -19deg) scale(2.1, 2.03);
	background-color: rgba(202, 68, 68, 0.59);
	font-size: 0.862em;
	width: 400px;
	height: 200px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 2px gray inset;
}

.joker {
	width: 87px;
	height: 82px;
	transform: rotate(-41deg);
	position: absolute;
	left: 492px;
	top: 122px;
	background: url('../images/Cards/DiamondCards/7.png');
	background-size: 99px 137px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
}

.opencard {
	width: 88px;
	height: 137px;
	transform: rotate(77deg);
	position: absolute;
	left: 720px;
	top: 218px;
	background: url('../images/Cards/DiamondCards/3.png');
	background-size: 88px 137px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	color: darkblue;
	cursor: pointer;
	z-index: 11;
}

.deckNextCard {
	width: 78px;
	height: 117px;
	transform: rotate(49deg);
	position: absolute;
	left: 607px;
	top: 199px;
	background: url('../images/Cards/BackShades/bg-red.png');
	background-size: 78px 117px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
	color: darkblue;
	cursor: pointer;
	z-index: 11;
}

.centerstage {
	background: url('../images/GameArena/GameStageCardSlide.png');
	min-width: 227px;
	min-height: 189px;
	background-size: 227px 189px;
	background-repeat: no-repeat;
	position: absolute;
	left: 497px;
	top: 132px;
}

.player {
	position: relative;
	width: 75px;
	height: 75px;
	font-size: 30px;
	background: rgba(3, 106, 172, 1);
	border-radius: 50%;
	text-align: center;
	/* 	padding-top: 9px; */
	border: 1px solid rgb(102, 106, 134);
	box-shadow: 0px 0px 5px 0px rgb(79, 113, 219);
	font-size: 40px;
	color: rgb(253, 242, 242);
}

.player:hover {
	box-shadow: 0px 0px 13px 4px rgb(224, 149, 30);
}

.player1-position {
	left: 50%;
	top: 583px;
}

.player2-position {
	left: 0%;
	top: 336px;
}

.player3-position {
	left: 9%;
	top: 27px
}

.player4-position {
	left: 30%;
	top: -214px;
}

.player5-position {
	left: 55%;
	top: -293px;
}

.player6-position {
	left: 79%;
	top: -281px;
}

.player7-position {
	left: 91%;
	top: -200px;
}

.player8-position {
	left: 95%;
	top: -92px;
}

.indicator {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #C2DBC8;
	position: relative;
	top: -24px;
	left: 24px;
}

.indicator>p {
	position: relative;
	font-size: 19px;
	left: -39px;
	top: -41px;
	color: crimson;
	min-width: 80px;
}

.player-cards {
	position: absolute;
	left: -310px;
	top: -220px;
	/* border: 1px solid black; */
	/* 	overflow: auto; */
	min-width: 585px;
	padding: 40px;
}

#cardContent {
	/* overflow: auto; */
	padding: 32px;
}

.card {
	width: 110px;
	height: 160px;
	border: 1px solid rgb(180, 175, 175);
	cursor: pointer;
	box-shadow: 0px 0px 14px 0px rgb(125, 131, 141);
	border-radius: 9px;
	display: block;
	position: relative;
}

.card:hover {
	box-shadow: 0px 0px 10px 2px green;
}

/* .card:active
{
	margin-top:-20px;
} */
.card1-pos {
	transform: rotate(-24deg);
	margin-left: -5px;
	z-index: 10;
}

.card2-pos {
	transform: rotate(-9deg);
	margin-left: 14px;
	margin-top: 5px;
	z-index: 20;
}

.card3-pos {
	transform: rotate(5deg);
	margin-left: 33px;
	margin-top: 9px;
	z-index: 30;
}

.card4-pos {
	transform: rotate(19deg);
	margin-left: 54px;
	margin-top: 24px;
	z-index: 40;
}

.card5-pos {
	transform: rotate(35deg);
	margin-left: 64px;
	margin-top: 39px;
	z-index: 50;
}

.card6-pos {
	transform: rotate(4deg);
}

.card7-pos {
	transform: rotate(13deg);
}

.card8-pos {
	transform: rotate(21deg);
}

.card9-pos {
	transform: rotate(29deg);
	margin-left: -100px;
}

.card0-pos {
	transform: rotate(-40deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
}

.card-1-pos {
	transform: rotate(-60deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
}

.card10-pos {
	transform: rotate(40deg);
	margin-left: -100px;
}

.card11-pos {
	transform: rotate(49deg);
	margin-left: -100px;
}

.Sevencard-1-pos {
	transform: rotate(-49deg);
	margin-left: -38px;
	margin-top: -3px;
	z-index: 1;
	left: 230px;
	top: 5px;
}

.Sevencard-2-pos {
	transform: rotate(-35deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -158px;
	left: 232px;
}

.Sevencard-3-pos {
	transform: rotate(-23deg);
	margin-left: -24px;
	margin-top: -3px;
	z-index: 5;
	top: -320px;
	left: 251px;
}

.Sevencard-4-pos {
	transform: rotate(-9deg);
	margin-left: 14px;
	margin-top: 5px;
	z-index: 20;
	top: -480px;
	left: 235px;
}

.Sevencard-5-pos {
	transform: rotate(5deg);
	margin-left: 33px;
	margin-top: 9px;
	z-index: 30;
	top: -640px;
	left: 233px;
}

.Sevencard-6-pos {
	transform: rotate(19deg);
	margin-left: 54px;
	margin-top: 24px;
	z-index: 40;
	top: -811px;
	left: 230px
}

.Sevencard-7-pos {
	transform: rotate(35deg);
	margin-left: 64px;
	margin-top: 39px;
	z-index: 50;
	top: -991px;
	left: 232px
}

#cardintercept {
	border: 1px solid rgb(15, 67, 113);
	margin-left: 178px;
	overflow: auto;
}

.card-intercept {
	border: 1px solid purple;
	float: left;
	min-height: 27px;
}

.cardindicator {
	background: url('../images/icons/32x32/CardInsertInd.png');
	background-size: 20px 32px;
	background-repeat: no-repeat;
	width: 20px;
	height: 32px;
	margin-left: -21px;
	margin-top: -16px;
	display: none;
}
