@CHARSET "ISO-8859-1";

#Arena {
	min-height: 100vh;
}

.bedsheet {
	-webkit-transform: skew(0deg, -30deg) scale(1, 1.16);
	-moz-transform: skew(0deg, -30deg) scale(1, 1.16);
	-o-transform: skew(0deg, -30deg) scale(1, 1.16);
	-ms-transform: skew(0deg, -30deg) scale(1, 1.16);
	transform: skew(31deg, -19deg) scale(2.1, 2.03);
	background-color: rgba(202, 68, 68, 0.59);
	font-size: 0.862em;
	width: 400px;
	height: 200px;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 2px gray inset;
}

.joker {
	width: 87px;
	height: 82px;
	transform: rotate(-41deg);
	position: absolute;
	left: 492px;
	top: 122px;
	background: url('../images/Cards/DiamondCards/7.png');
	background-size: 99px 137px;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 10px 2px gray;
	border-radius: 7px;
}


.centerstage {
	background: url('../images/GameArena/GameStageCardSlide.png');
	min-width: 227px;
	min-height: 189px;
	background-size: 227px 189px;
	background-repeat: no-repeat;
	position: absolute;
	left: 497px;
	top: 132px;
}

.player {
	position: relative;
	width: 75px;
	height: 75px;
	font-size: 30px;
	background: rgba(3, 106, 172, 1);
	border-radius: 50%;
	text-align: center;
	/* 	padding-top: 9px; */
	border: 1px solid rgb(102, 106, 134);
	box-shadow: 0px 0px 5px 0px rgb(79, 113, 219);
	font-size: 40px;
	color: rgb(253, 242, 242);
}

.player:hover {
	box-shadow: 0px 0px 13px 4px rgb(224, 149, 30);
}

.player1-position {
	left: 50%;
	top: 583px;
}

.player2-position {
	left: 0%;
	top: 336px;
}

.player3-position {
	left: 9%;
	top: 27px
}

.player4-position {
	left: 30%;
	top: -214px;
}

.player5-position {
	left: 55%;
	top: -293px;
}

.player6-position {
	left: 79%;
	top: -281px;
}

.player7-position {
	left: 91%;
	top: -200px;
}

.player8-position {
	left: 95%;
	top: -92px;
}

.indicator {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #C2DBC8;
	position: relative;
	top: -24px;
	left: 24px;
}

.indicator>p {
	position: relative;
	font-size: 19px;
	left: -39px;
	top: -41px;
	color: crimson;
	min-width: 80px;
}

.player-cards {
	position: relative;
	min-width: 600px;
	min-height: 300px;
	/* border: 1px solid gray; */
	left: -275px;
	top: -778px;
}

.card {
	width: 130px;
	height: 190px;
	border: 1px solid rgb(180, 175, 175);
	position: relative;
	cursor: pointer;
	box-shadow: 0px 0px 16px 1px gray;
	border-radius: 9px;
}

.card:hover {
	top: -20px;
}

.card1-pos {
	transform: rotate(-50deg);
	background: url('../images/Cards/ClubCards/3.png');
	background-size: 130px 189px;
	left: 208px;
	top: 129px;
}

.card2-pos {
	transform: rotate(-38deg);
	background: url('../images/Cards/ClubCards/4.png');
	background-size: 130px 189px;
	left: 226px;
	top: -64px;
}

.card3-pos {
	transform: rotate(-29deg);
	background: url('../images/Cards/ClubCards/5.png');
	background-size: 130px 189px;
	left: 244px;
	top: -260px;
}

.card4-pos {
	transform: rotate(-17deg);
	background: url('../images/Cards/ClubCards/6.png');
	background-size: 130px 189px;
	left: 259px;
	top: -449px
}

.card5-pos {
	transform: rotate(-6deg);
	background: url('../images/Cards/ClubCards/7.png');
	background-size: 130px 189px;
	left: 277px;
	top: -636px;
}

.card6-pos {
	transform: rotate(4deg);
	background: url('../images/Cards/ClubCards/8.png');
	background-size: 130px 189px;
	left: 293px;
	top: -817px;
}

.card7-pos {
	transform: rotate(13deg);
	background: url('../images/Cards/ClubCards/9.png');
	background-size: 130px 189px;
	left: 309px;
	top: -996px;
}

.card8-pos {
	transform: rotate(21deg);
	background: url('../images/Cards/ClubCards/10.png');
	background-size: 130px 189px;
	left: 319px;
	top: -1174px;
}

.card9-pos {
	transform: rotate(29deg);
	background: url('../images/Cards/ClubCards/J.png');
	background-size: 130px 189px;
	left: 329px;
	top: -1348px;
}

.card0-pos {
	transform: rotate(-65deg);
	background: url('../images/Cards/ClubCards/2.png');
	background-size: 130px 189px;
	left: 196px;
	top: 322px;
}

.card-1-pos {
	transform: rotate(-79deg);
	background: url('../images/Cards/ClubCards/A.png');
	background-size: 130px 189px;
	left: 183px;
	top: 514px;
}

.card10-pos {
	transform: rotate(40deg);
	background: url('../images/Cards/ClubCards/Q.png');
	background-size: 130px 189px;
	left: 335px;
	top: -1523px;
}

.card11-pos {
	transform: rotate(49deg);
	background: url('../images/Cards/ClubCards/K.png');
	background-size: 130px 189px;
	left: 342px;
	top: -1699px;
}