@CHARSET "ISO-8859-1";

.jokerdimension
{
	background-size:87px 137px !important;
}

.opencarddimension
{
	background-size: 74px 118px !important;
}

.closedcard
{
	background: url('../images/Cards/BackShades/bg-red.png');
	background-size: 89px 137px;
}

.Spade-A
{
	background:url("../images/Cards/SpadeCards/A.png");
	background-size:110px 160px;
}
.Spade-2
{
	background:url("../images/Cards/SpadeCards/2.png");
	background-size:110px 160px;
}
.Spade-3
{
	background:url("../images/Cards/SpadeCards/3.png");
	background-size:110px 160px;
}
.Spade-4
{
	background:url("../images/Cards/SpadeCards/4.png");
	background-size:110px 160px;
}
.Spade-5
{
	background:url("../images/Cards/SpadeCards/5.png");
	background-size:110px 160px;
}
.Spade-6
{
	background:url("../images/Cards/SpadeCards/6.png");
	background-size:110px 160px;
}
.Spade-7
{
	background:url("../images/Cards/SpadeCards/7.png");
	background-size:110px 160px;
}
.Spade-8
{
	background:url("../images/Cards/SpadeCards/8.png");
	background-size:110px 160px;
}
.Spade-9
{
	background:url("../images/Cards/SpadeCards/9.png");
	background-size:110px 160px;
}
.Spade-10
{
	background:url("../images/Cards/SpadeCards/10.png");
	background-size:110px 160px;
}
.Spade-J
{
	background:url("../images/Cards/SpadeCards/J.png");
	background-size:110px 160px;
}
.Spade-Q
{
	background:url("../images/Cards/SpadeCards/Q.png");
	background-size:110px 160px;
}
.Spade-K
{
	background:url("../images/Cards/SpadeCards/K.png");
	background-size:110px 160px;
}
.Diamond-A
{
	background:url("../images/Cards/DiamondCards/A.png");
	background-size:110px 160px;
}
.Diamond-2
{
	background:url("../images/Cards/DiamondCards/2.png");
	background-size:110px 160px;
}
.Diamond-3
{
	background:url("../images/Cards/DiamondCards/3.png");
	background-size:110px 160px;
}
.Diamond-4
{
	background:url("../images/Cards/DiamondCards/4.png");
	background-size:110px 160px;
}
.Diamond-5
{
	background:url("../images/Cards/DiamondCards/5.png");
	background-size:110px 160px;
}
.Diamond-6
{
	background:url("../images/Cards/DiamondCards/6.png");
	background-size:110px 160px;
}
.Diamond-7
{
	background:url("../images/Cards/DiamondCards/7.png");
	background-size:110px 160px;
}
.Diamond-8
{
	background:url("../images/Cards/DiamondCards/8.png");
	background-size:110px 160px;
}
.Diamond-9
{
	background:url("../images/Cards/DiamondCards/9.png");
	background-size:110px 160px;
}
.Diamond-10
{
	background:url("../images/Cards/DiamondCards/10.png");
	background-size:110px 160px;
}
.Diamond-J
{
	background:url("../images/Cards/DiamondCards/J.png");
	background-size:110px 160px;
}
.Diamond-Q
{
	background:url("../images/Cards/DiamondCards/Q.png");
	background-size:110px 160px;
}
.Diamond-K
{
	background:url("../images/Cards/DiamondCards/K.png");
	background-size:110px 160px;
}
.Heart-A
{
	background:url("../images/Cards/HeartCards/A.png");
	background-size:110px 160px;
}
.Heart-2
{
	background:url("../images/Cards/HeartCards/2.png");
	background-size:110px 160px;
}
.Heart-3
{
	background:url("../images/Cards/HeartCards/3.png");
	background-size:110px 160px;
}
.Heart-4
{
	background:url("../images/Cards/HeartCards/4.png");
	background-size:110px 160px;
}
.Heart-5
{
	background:url("../images/Cards/HeartCards/5.png");
	background-size:110px 160px;
}
.Heart-6
{
	background:url("../images/Cards/HeartCards/6.png");
	background-size:110px 160px;
}
.Heart-7
{
	background:url("../images/Cards/HeartCards/7.png");
	background-size:110px 160px;
}
.Heart-8
{
	background:url("../images/Cards/HeartCards/8.png");
	background-size:110px 160px;
}
.Heart-9
{
	background:url("../images/Cards/HeartCards/9.png");
	background-size:110px 160px;
}
.Heart-10
{
	background:url("../images/Cards/HeartCards/10.png");
	background-size:110px 160px;
}
.Heart-J
{
	background:url("../images/Cards/HeartCards/J.png");
	background-size:110px 160px;
}
.Heart-Q
{
	background:url("../images/Cards/HeartCards/Q.png");
	background-size:110px 160px;
}
.Heart-K
{
	background:url("../images/Cards/HeartCards/K.png");
	background-size:110px 160px;
}
.Club-A
{
	background:url("../images/Cards/ClubCards/A.png");
	background-size:110px 160px;
}
.Club-2
{
	background:url("../images/Cards/ClubCards/2.png");
	background-size:110px 160px;
}
.Club-3
{
	background:url("../images/Cards/ClubCards/3.png");
	background-size:110px 160px;
}
.Club-4
{
	background:url("../images/Cards/ClubCards/4.png");
	background-size:110px 160px;
}
.Club-5
{
	background:url("../images/Cards/ClubCards/5.png");
	background-size:110px 160px;
}
.Club-6
{
	background:url("../images/Cards/ClubCards/6.png");
	background-size:110px 160px;
}
.Club-7
{
	background:url("../images/Cards/ClubCards/7.png");
	background-size:110px 160px;
}
.Club-8
{
	background:url("../images/Cards/ClubCards/8.png");
	background-size:110px 160px;
}
.Club-9
{
	background:url("../images/Cards/ClubCards/9.png");
	background-size:110px 160px;
}
.Club-10
{
	background:url("../images/Cards/ClubCards/10.png");
	background-size:110px 160px;
}
.Club-J
{
	background:url("../images/Cards/ClubCards/J.png");
	background-size:110px 160px;
}
.Club-Q
{
	background:url("../images/Cards/ClubCards/Q.png");
	background-size:110px 160px;
}
.Club-K
{
	background:url("../images/Cards/ClubCards/K.png");
	background-size:110px 160px;
}