@CHARSET "ISO-8859-1";

/* Intro related CSS */
/* .horizontal-slider {
	width: 815px;
	min-height: 600px;
	position: relative;
	overflow: hidden;
	left: 2.5%;
	top: 40px;
	padding-bottom: 40px;
	border-radius:20px;
}

.horizontal-slider .items {
	width: 4000px;
	-webkit-animation: hscroll 20s infinite;
	-moz-animation: hscroll 20s infinite;
	-ms-animation: hscroll 20s infinite;
	animation: hscroll 20s infinite;
}

.horizontal-slider .item {
	margin: 0;
	float: left;
	width: 815px;
} */

/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
*/
/* @-webkit-keyframes hscroll { 
  
    0%, 19.75% { margin-left: 0; }
   20%, 39.75% { margin-left : -815px;}
   40%, 59.75% { margin-left : -1630px;}
   60%, 79.75% { margin-left : -2445px;}
   80%, 99.75% { margin-left : -3260px;}
   100% { margin-left : 0 }
}
@-moz-keyframes hscroll { 
	
 0%, 19.75% { margin-left: 0; }
   20%, 39.75% { margin-left : -800px;}
   40%, 59.75% { margin-left : -1600px;}
   60%, 79.75% { margin-left : -2400px;}
   80%, 99.75% { margin-left : -3200px;}
   100% { margin-left : 0 }
}
@-ms-keyframes hscroll {
    0%, 19.75% { margin-left: 0; }
   20%, 39.75% { margin-left : -815px;}
   40%, 59.75% { margin-left : -1630px;}
   60%, 79.75% { margin-left : -2445px;}
   80%, 99.75% { margin-left : -3260px;}
   100% { margin-left : 0 }
}
@keyframes hscroll { 
    0%, 19.75% { margin-left: 0; }
   20%, 39.75% { margin-left : -815px;}
   40%, 59.75% { margin-left : -1630px;}
   60%, 79.75% { margin-left : -2445px;}
   80%, 99.75% { margin-left : -3260px;}
   100% { margin-left : 0 }
}
 */
/* Intro related CSS end */
#games>div>div {
	/* border: 1px solid rgb(255, 255, 255); */
	margin-top: 20px;
	/* box-shadow: 1px 1px 10px 10px rgb(202, 221, 202); */
	border-radius: 18px;
	padding: 20px;
	/* //background: rgb(247, 247, 247); */
}

#gametype>h3,#gamemode>h3,#victorymode>h3 {
	text-align: center;
}

#gametype>ul>li,#gamemode>ul>li,#victorymode>ul>li {
	font-size: 17px;
	list-style: none outside none;
}

#gametype blockquote,#gamemode blockquote,#victorymode blockquote {
	border-left: 0px solid #036AAC;
	border-radius: 7px;
	/* background: rgb(235, 242, 234); */
	padding-left: 55px;
	line-height: 2px;
	padding-bottom: 29px;
	padding-top: 0px;
	min-width: 400px;
}

#gametype blockquote p,#gamemode blockquote p,#victorymode blockquote p
	{
	font-size: 16px;
	color: #036AAC;
}

#gamedescription button {
	float: right;
	margin-top: -4px;
}

.btn_learnmore {
	color: #FFFFFF;
	background-color: #036AAC;
	border-color: #42474F;
	float: right;
	margin-top: -14px;
}

.btn_learnmore:hover,.btn_learnmore :hover {
	color: #FFFFFF;
	background-color: #6EA1EF;
	border-color: #42474F;
	/* font-weight: bold; */
}

.tick {
	min-width: 32px;
	min-height: 32px;
	width: 32px;
	height: 32px;
	position: relative;
	top: 17px;
	left: -37px;
	background: url('../images/tick32x32.png') repeat scroll 0% 0%
		transparent;
}

.verticalSpacer {
	height: 25px;
}

.verticalSpacer-large {
	height: 100px;
}

.labelContainer {
	z-index: 1;
	position: relative;
	text-align: center;
	clear: both;
	max-width: 1500px;
	margin: 10px auto 0;
	padding-top: 17px;
}

.labelContainer h3 {
	background-color: #f4f4f5;
	display: inline;
	font-size: 2.375em;
	margin: 0 auto;
	padding: 0 30px;
	z-index: 3;
	/* box-shadow: 1px 1px 10px 2px #292323; */
	padding-bottom: 12px;
	border-radius: 12px;
}

.round-up-inset {
	border-radius: 30px;
	background: none repeat scroll 0% 0% #F4F4F4;
	box-shadow: 1px 1px 10px 1px rgba(4, 6, 3, 1);
}

#signup,#signin,#invite {
	padding: 50px;
	padding-top: 36px;
}

#signupsignin .tab-content {
	min-height: 300px;
	box-shadow: inset 0 20px 13px -20px rgba(0, 0, 0, 0.8);
}

/* .horizontalsep
{
	margin-top:10px;
	height:2px;
	border-bottom: 2px solid gray;
}
.horizontalsep>span
{
	text-align: center;
} */
.horizontalsep {
	background-image:
		url(data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=);
	background-repeat: repeat-x;
	background-position: left;
	text-align: center;
	margin-bottom: 20px;
}

.horizontalsep h4 {
	background-color: inherit;
	margin: 0 auto;
	padding: 0 10px;
	display: inline-block;
}

.errorPanel {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 5px;
	min-height: 25px;
	font-size: 14px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.errorPanel>ul {
	margin-bottom: 0px;
}

.errorPanel>ul>li {
	list-style: circle;
}

#thirdpartySignin a {
	width: 120px;
	height: 40px;
}

.googlebutton {
	min-width: 120px;
	min-height: 40px;
	cursor: pointer;
	background:
		url("../images/thirdpartyimages/google/Red-signin-Medium-base-44dp.png");
	background-size: 120px 40px;
	background-repeat: no-repeat;
}

.googlebutton:hover {
	background:
		url("../images/thirdpartyimages/google/Red-signin-Medium-hover-44dp.png");
	background-size: 120px 40px;
	background-repeat: no-repeat;
}

.facebookbutton {
	min-width: 120px;
	min-height: 32px;
	cursor: pointer;
	background-color: #496DAD;
	color: #EDECEC;
	margin-top: 4px;
	padding-top: 4px;
	font-size: 15px;
	text-align: center;
}

.required {
	color: rgb(240, 20, 45);
	font-size: 17px;
	padding-right: 2px;
}

.playrummyintro {
	font-family: 'open sans', arial, sans-serif;
	font-weight: 300;
	min-height: 119px;
	font-size: 25px;
	color: rgb(3, 106, 172);
}

.section1 {
	min-height: 400px;
	/* background: url("../images/mainbg.jpg"); */
}

.section2 {
	min-height: 400px;
}

.section3 {
	min-height: 400px;
}

.section4 {
	min-height: 400px;
	color: #949494;
	font-size: 12px;
	line-height: 18px;
	background: #222;
	padding: 35px 0;
	clear: both;
	position: relative;
	z-index: 10;
}

.block-info {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: rgba(249, 245, 242, 1);
	border: 2px solid #F9A995;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	color: rgb(213, 72, 39);
	text-align: center;
	border-radius: 9px;
	box-shadow: 0px 0px 6px 2px #F9A995;
}

.block-info a {
	color: rgb(213, 72, 39);
	font-weight: 600;
}

.block-info-success {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: rgba(236, 255, 242, 1);
	border: 2px solid #A0CDAC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	color: rgb(55, 160, 100);
	text-align: center;
	border-radius: 9px;
}

.block-info-success a {
	color: rgb(55, 160, 100);
	font-weight: 600;
}

.block-info-warn {
	min-height: 20px;
	/* 	padding: 19px; */
	margin-bottom: 20px;
	background-color: rgba(247, 250, 231, 1);
	border: 2px solid #ECEA25;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	color: rgb(140, 144, 8);
	text-align: center;
	border-radius: 9px;
}

.block-info-warn a {
	color: rgb(140, 144, 8);
	font-weight: 600;
}

.block-info-error {
	min-height: 20px;
	margin-bottom: 20px;
	background-color: rgba(250, 237, 239, 1);
	border: 2px solid rgb(197, 1, 68);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	color: rgb(197, 1, 68);
	text-align: center;
	border-radius: 9px;
	box-shadow: 0px 0px 10px 3px gray;
}

.block-info-error a {
	color: rgb(197, 1, 68);
	font-weight: 600;
}

.simpleImage {
	width: 459px;
	height: 200px;
	cursor: pointer;
}

.simpleImage-ext {
	width: 450px;
	height: 225px;
	cursor: pointer;
}

.modal-ex-lg {
	width: 1250px;
}

.modalimg {
	width: 1200px;
	height: 500px;
}

.screenshot1 {
	background: url("../images/HowtoPlay/GameLobby.png");
	background-size: 1200px 500px;
}

.screenshot2 {
	background: url("../images/HowtoPlay/CreateGame.png");
	background-size: 1200px 500px;
}

.screenshot3 {
	background: url("../images/HowtoPlay/LaunchGame.png");
	background-size: 1200px 500px;
}

.screenshot4 {
	background: url("../images/HowtoPlay/Playgame.png");
	background-size: 1200px 500px;
}

.bs-callout-info .meld-3:hover,.bs-callout-info .meld-4:hover,.bs-callout-info .meld-5:hover,.bs-callout-info .meld-foldcard:hover
	{
	box-shadow: none;
	border: 2px dashed #036AAC !important;
}

.basictrainingroom .meld-3:hover,.basictrainingroom .meld-4:hover,.basictrainingroom .meld-5:hover,.basictrainingroom .meld-foldcard:hover
	{
	box-shadow: none;
	/* border: 2px dashed #036AAC !important; */
}

.traincontent {
	/* padding: 10px; */
	border: 2px solid #036AAC;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0px #036AAC;
	cursor: pointer;
	width: 200px;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #F4F4F5;
	color: #036AAC;
}

.traincontent span {
	font-size: 34px;
}

.traincontent:hover,.traincontent-selected {
	background: #036AAC;
	color: white;
	border: 2px solid white;
}

.trainroom {
	padding: 10px;
	border: 2px solid #036AAC;
}

.unanswered,.answered {
	text-align: center;
	width: 200px;
}

.answeredsuccess {
	color: green;
}

.answeredfailure {
	color: #D9534F;
}

.trainanswer {
	font-size: 22px;
}

.locked {
	width: 196px;
	/* height: 100%; */
	position: absolute;
	/* top: 24px; */
	/* left: 65px; */
	/* border: 1px solid gray; */
	background: rgba(2, 1, 19, 0.84);
	color: white;
	opacity: 1.4;
	z-index: 100;
	padding: 5px;
}

/* #SeqTest h1 {
	width: 250px;
	margin: 0px auto;
	margin-top: 30px;
	box-shadow: 0px 0px 1px 1px #9D9696;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
	color: #ffffff;
	background: #036AAC;
	border: 1px solid white;
} */
#SeqTest h4 {
	color: #036AAC;
}

#SeqTest h4 span {
	color: #2D03AC;
	font-weight: bolder;
	text-shadow: 0px 0px gray;
}

#SeqTest .meld-4 {
	margin-left: -48px;
}

.levelunlocked {
	color: green;
	background: #F4FFF2;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid;
	box-shadow: 0px 0px 10px 2px;
}