.navbar-default {
	background-color: #036AAC;
	border-color: #036AAC;
}

.navbar-default .navbar-brand {
	color: #FEFEFC;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	color: #FFFFFF;
}

.navbar-default .navbar-text {
	color: #FEFEFC;
}

.navbar-default .navbar-nav>li>a {
	color: #FEFEFC;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #FFFFFF;
	font-weight: 400;
	background-color: #2D2D62;
	/* font-weight:bold; */
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #FAFAFA;
	background-color: #2D2D62;
	font-weight: 400;
	/* font-weight:bold; */
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	color: #FFFFFF;
	background-color: #036AAC;
}

.navbar-default .navbar-toggle {
	border-color: #036AAC;
}

.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus
	{
	background-color: #036AAC;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #FEFEFC;
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form {
	border-color: #FEFEFC;
}

.navbar-default .navbar-link {
	color: #FEFEFC;
}

.navbar-default .navbar-link:hover {
	color: #FFFFFF;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #FEFEFC;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
		{
		color: #FFFFFF;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus
		{
		color: #FFFFFF;
		background-color: #036AAC;
	}
}

.navbar-fixed-top {
	min-height: 50px;
	box-shadow: 1px 1px 2px 1px rgb(133, 147, 127);
}

.navbar-nav>li>a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 50px;
}

.navbar-header>a {
	margin-top: -14px;
}

.navbar-collapse>form {
	padding-top: 16px;
}

.carousel a {
	background: transparent;
	background-image: none !important;
}

.carousel a span {
	color: #036AAC;
}

.carousel-indicators {
	/* bottom: -31px; */
	
}

.carousel-indicators li {
	border: 1px solid #036AAC;
}

.carousel-indicators li.active {
	background-color: #036AAC;
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	background-color: #036AAC;
	color: white;
}

.tab-content {
	border-top: 3px solid #036AAC;
}

.windowcontent .nav-tabs>li.active>a,.windowcontent .nav-tabs>li.active>a:hover,.windowcontent .nav-tabs>li.active>a:focus
	{
	background-color: #606264;
	color: white;
}

.windowcontent .tab-content {
	border-top: 3px solid #606264;
}

.modal-header {
	background: #036AAC;
	color: white;
}

ul.nav-pills
{
	background: rgb(232, 232, 237);
}

.dropdown-menu
{
	font-size:13px;
}

/* #Navbar custom */

.navbar-custom {
  background-color: #020513;
  border-color: #76777a;
}
.navbar-custom .navbar-brand {
  color: #fcfcfd;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
  color: #fdfcfd;
}
.navbar-custom .navbar-text {
  color: #fcfcfd;
}
.navbar-custom .navbar-nav > li > a {
    color: #fcfcfd;
  	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 50px;  
}


.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  color: #fdfcfd;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #020513;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #fcfcfd;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fdfcfd;
  background-color: #76777a;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #020513;
}
.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active > a:hover, .navbar-custom .navbar-nav > .active > a:focus {
  color: #fdfcfd;
  background-color: #76777a;
}
.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
  color: #fdfcfd;
  background-color: #76777a;
}

.navbar-custom .navbar-nav > li > a:hover
{
	 background-color: #76777a;
}

.navbar-custom .navbar-toggle {
  border-color: #76777a;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #76777a;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #76777a;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #fcfcfd;
}
.navbar-custom .navbar-link {
  color: #fcfcfd;
}
.navbar-custom .navbar-link:hover {
  color: #fdfcfd;
}

.navbar-custom .navbar-nav > li > a > i {
  font-size: 25px;
  margin-top: 9px !important;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #fcfcfd;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fdfcfd;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fdfcfd;
    background-color: #76777a;
  }
}