@CHARSET "ISO-8859-1";

.sidebar-shrinked {
	background-color: #036AAC;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 0 0;
	width: 75px;
	float: left;
	position: static;
	padding-left: 0;
	padding-right: 0;
	min-height: 300px;
	font-size: 14px;
	margin-left: -15px;
	height: 100vh;
}

.sidebar-shrinked>ul {
	padding-left: 0px;
	/* padding-top: 20px; */
}

.sidebar-shrinked>ul>li {
	color: #EAEAEA;
	list-style: none;
	min-height: 44px;
	vertical-align: middle;
	line-height: 25px;
	padding-top: 9px;
	/* 	padding-left: 9px; */
	border: 1px solid rgb(33, 108, 194);
	cursor: pointer;
	font-size: 23px;
	text-align: center;
}

.sidebar-shrinked>ul>li>i {
	padding-right: 10px;
}

.sidebar-shrinked>ul>li.selected {
	background: #2C397E;
	color: #FFFFFF;
}

.sidebar-shrinked>ul>li:hover {
	background: #2C397E;
	color: #FFFFFF;
}

.sidebar-shrinked #profilepic {
	min-width: 64px;
	min-height: 99px;
	position: relative;
	text-align: center;
	font-size: 55px;
	color: rgb(244, 244, 245);
	border-bottom: 3px solid rgb(180, 203, 245);
}

}
.sidebar-shrinked #profilepic>img.displayed {
	display: block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 15%;
	margin-right: -70%;
	background: rgb(244, 244, 245);
	border-radius: 72px;
	width: 128px;
	height: 128px;
}

.sidebar-shrinked #profilepic p {
	font-size: 13px;
	font-weight: 300px;
}

.sidebar {
	background-color: #036AAC;
	border-style: solid;
	border-color: #ccc;
	border-width: 0 1px 0 0;
	width: 180px;
	float: left;
	position: static;
	padding-left: 0;
	padding-right: 0;
	min-height: 300px;
	font-size: 14px;
	margin-left: -15px;
	height: 100vh;
}

.sidebar>ul {
	padding-left: 0px;
	/* padding-top: 20px; */
}

.sidebar>ul>li {
	color: #EAEAEA;
	list-style: none;
	min-height: 44px;
	vertical-align: middle;
	line-height: 25px;
	padding-top: 6px;
	padding-left: 20px;
	border: 1px solid rgb(33, 108, 194);
	cursor: pointer;
}

.sidebar>ul>li>i {
	padding-right: 10px;
}

.sidebar>ul>li.selected {
	background: #2C397E;
	color: #FFFFFF;
}

.sidebar>ul>li:hover {
	background: #2C397E;
	color: #FFFFFF;
}

.sidebar #profilepic {
	min-width: 64px;
	min-height: 99px;
	position: relative;
	text-align: center;
	font-size: 75px;
	color: rgb(244, 244, 245);
	border-bottom: 3px solid rgb(180, 203, 245);
}

.sidebar #profilepic>img.displayed {
	display: block;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 15%;
	margin-right: -70%;
	background: rgb(244, 244, 245);
	border-radius: 72px;
	width: 128px;
	height: 128px;
}

.sidebar #profilepic p {
	font-size: 13px;
	font-weight: 300px;
}

.navigation {
	overflow: hidden;
}

/* .navigation .navbar-fixed-top {
	position: relative;
} */
.shrinker {
	width: 45px;
	position: relative;
	float: left;
	font-size: 20px;
	color: whitesmoke;
	background: rgb(3, 106, 172);
	text-align: center;
	cursor: pointer;
	padding-top: 21px;
	padding-left: 79px;
}

.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.quicktools {
	padding-top: 17px;
	color: whitesmoke;
	/* padding-left: 20px; */
	font-size: 20px !important;
	cursor: pointer;
	"
}

.quicktools>i:hover {
	color: gray;
}

.page-content {
	position: relative;
	overflow: hidden;
}

.panel-green {
	background: rgb(92, 184, 92);
	border-color: 1px solid rgb(92, 184, 92);
	color: white;
}

.panel-darkgreen {
	background: rgb(72, 153, 73);
	border: 1px solid rgb(72, 153, 73);
	color: white;
	box-shadow: 0px 0px 10px 2px gray;
}

.panel-purple {
	background: rgb(44, 57, 126);
	border: 1px solid rgb(44, 57, 126);
	color: white;
	box-shadow: 0px 0px 10px 2px gray;
}

.panel-red {
	background: rgb(217, 83, 79);
	border: 1px solid rgb(217, 83, 79);
	color: white;
	box-shadow: 0px 0px 10px 2px gray;
}

#charts {
	padding-top: 250px;
}

.panel-fanta {
	background: rgb(208, 106, 32);
	border: 1px solid rgb(208, 106, 32);
	color: white;
	box-shadow: 0px 0px 10px 2px gray;
}

#profilepicupdate {
	border: 2px solid rgb(205, 205, 205);
	min-height: 201px;
	box-shadow: 0px 0px 12px 3px rgb(231, 231, 231) inset;
	text-align: center;
	border-radius: 20px;
	color: rgb(79, 79, 79);
	padding-top: 28px;
}

#profilepicupdate>i {
	font-size: 8em;
}

.huge {
	font-size: 44px;
}

.sidebar-arrow-left {
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-right: 12px solid rgb(244, 244, 245);
	position: absolute;
	left: 170px;
	display: none;
}

.gamebrowsertools {
	padding-top: 10px;
}

.gamebrowsertools li i {
	padding-right: 10px;
}

.gamebrowsertools .nav-pills>li.active>a,#gametools #nav-pills>li.active>a:hover,#gametools .nav-pills>li.active>a:focus
	{
	background: #337ab7;
}

.gamebrowsertools .nav-pills>li a:hover {
	background: #337ab7;
	color: white;
}

.gamebrowser table>thead {
	background: rgb(3, 106, 172);
	color: whitesmoke;
	font-weight: 300;
	font-family: 'open sans', arial, sans-serif;
	font-size: 14px;
}

#GameType {
	font-weight: bold;
	color: rgb(3, 106, 172);
}

.lobbyMask {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgb(246, 246, 246);
	z-index: 300;
	margin-left: -30px;
	opacity: 0.99;
}

#GameLauncherContainer {
	box-shadow: 1px 1px 10px 5px gray;
	border: 1px solid;
	overflow: auto;
}

#GameLauncherContainer .heading {
	min-height: 45px;
	background: rgb(3, 106, 172);
	color: white;
	padding-top: 3px;
	padding-left: 30px;
}

#GameLauncherContainer #content {
	/* min-height: 455px; */
	overflow: auto;
	
}

#GameLauncherContainer #content #chat {
	border-right: 2px solid gray;
	min-height: 450px;
	float: left;
	width: 80%;
}

#GameLauncherContainer #content #chat .chatWindow {
	height: 150px;
	overflow: auto;
	border: 1px solid gray;
	/* 	box-shadow: 0px 0px 10px 3px gray; */
	border-radius: 5px;
	padding-left: 20px;
}

#GameLauncherContainer #content #chat .chatContent {
	font-size: 15px;
}

#GameLauncherContainer #content #chat .chatContent.Player1Chat {
	color: rgb(103, 87, 148);
}

#GameLauncherContainer #content #chat .chatContent.Player2Chat {
	color: rgb(200, 139, 139);
}

#GameLauncherContainer #content #chat .chatContent.Player3Chat {
	color: rgb(148, 99, 3);
}

#GameLauncherContainer #content #chat .chatContent.Player4Chat {
	color: rgb(3, 106, 172);
}

#GameLauncherContainer #content #chat .chatContent.Player5Chat {
	color: rgb(3, 166, 172);
}

#GameLauncherContainer #content #chat .chatContent.Player6Chat {
	color: rgb(3, 106, 12);
}

#GameLauncherContainer #content #chat .chatContent.Player7Chat {
	color: rgb(233, 106, 172);
}

#GameLauncherContainer #content #chat .sendText {
	min-height: 100px;
	margin-top: 5px;
}

#GameLauncherContainer .members {
	border: 1px solid rgb(200, 205, 225);
	border-left: 6px solid rgb(13, 112, 175);
	border-radius: 4px;
	padding: 5px;
	background: rgba(226, 230, 238, 1);
	color: rgb(60, 113, 148);
	margin-top: 2px;
	font-size: 18px;
	font-weight: 300;
	font-family: 'open sans', arial, sans-serif;
}

#GameLauncherContainer .members img {
	width: 35px;
	height: 35px;
	margin-right: 10px;
}

#GameLauncherContainer .members button.addFriend {
	color: rgb(74, 74, 205);
	margin-top: 13px;
	font-size: 13px;
	padding-right: 14px;
	opacity: 0.8;
}

#GameLauncherContainer .members button.kickPlayer {
	color: rgb(207, 58, 58);
	opacity: 0.8;
	margin-top: 11px;
	padding-right: 10px;
	font-size: 15px;
}

#GameLauncherContainer .members p {
	margin-left: 20px;
	padding-top: 4px;
}

#GameLauncherContainer .members p i#remove {
	color: rgb(119, 53, 53);
	padding-left: 13px;
	cursor: pointer;
}

#GameLauncherContainer .members p i#add {
	color: rgb(13, 112, 175);
	padding-left: 79px;
	cursor: pointer;
}

#GameLauncherContainer .well {
	font-size: 13px;
}

#GameLauncherContainer .well dt {
	color: rgb(102, 102, 111);
	padding-top: 5px;
}

#GameLauncherContainer .well dd {
	color: rgb(172, 5, 5);
	padding-top: 5px;
}

#GameLauncherContainer .actionLauncher {
	position: relative;
	top: 328px;
	padding: 10px;
}

.playerslistheading {
	background: rgb(3, 106, 172);
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'open sans', arial, sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 15px;
}