<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
	                       http://www.springframework.org/schema/tx 
	                       http://www.springframework.org/schema/tx/spring-tx.xsd
	                       http://www.springframework.org/schema/aop 
	                       http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<mvc:annotation-driven />
	<context:component-scan base-package="com.adansoft.great21.dataaccess.controllers" />
	<context:property-placeholder
		location="WEB-INF/Spring-config/DBConfig.properties" />




	<bean id="dataSource"
		class="com.adansoft.great21.encrypt.utilities.EncryptResolverDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_SCHEMA}" />
		<property name="username" value="${DATABASE_USER}" />
		<property name="password" value="${DATABASE_PASSWORD}" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>ORM/Hibernate-UserAccounts.hbm.xml</value>
				<value>ORM/Hibernate-UserRoles.hbm.xml</value>
				<value>ORM/Hibernate-RummyStats.hbm.xml</value>
				<value>ORM/Hibernate-UserAudit.hbm.xml</value>
				<value>ORM/Hibernate-UserProfile.hbm.xml</value>
				<value>ORM/Hibernate-Game.hbm.xml</value>
				<value>ORM/Hibernate-GamePlayers.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>



	<bean id="authDAO"
		class="com.adansoft.great21.dataaccess.dao.AuthenticateUserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="basedataDAO"
		class="com.adansoft.great21.dataaccess.dao.BasicDataAccessDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="gamedataDAO"
		class="com.adansoft.great21.dataaccess.dao.GameDataAccessDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:annotation-driven />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>

	<!-- redis server configs -->
	<bean id="jedisConnFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:use-pool="true" p:hostName="${CACHE_SERVER.HOST}" p:port="${CACHE_SERVER.PORT}" />

	<!-- redis template definition -->
	<bean id="gameInstanceRedisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="jedisConnFactory" />

	<bean id="CacheServerActivateAccountCache"
		class="com.adansoft.great21.dataaccess.helpers.CacheServerActivateAccountCache" />


</beans>