<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/assets/css/**" security="none" />
	<http pattern="/assets/images/**" security="none" />
	<http pattern="/assets/SampleJson/**" security="none" />
	<http pattern="/assets/js/**" security="none" />
	<http pattern="/assets/ThirdPartyLibs/**" security="none" />
	<!-- <http pattern="/WebSocketChatMessages/**" security="none" /> -->

	<http>
		<headers>
			<cache-control />
			<content-type-options />
			<hsts />
			<frame-options />
			<xss-protection />
		</headers>
	
		<intercept-url pattern="/index.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/LearntoPlay" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/rummy" access="ROLE_USER" />
		<intercept-url pattern="/IndexerServices/" access="ROLE_USER" />
		<intercept-url pattern="/WebSocketGameLauncher/" access="ROLE_USER" />
		<intercept-url pattern="/WebSocketChatMessages/" access="ROLE_USER" />
		<intercept-url pattern="/WebSockets/Notifications" access="ROLE_USER" />
		<intercept-url pattern="/WebSockets/UserNotifications" access="ROLE_USER" />
		<intercept-url pattern="/DataAccess/Data" access="ROLE_USER" />
		
		
		
		<session-management session-fixation-protection="newSession">
			<concurrency-control max-sessions="1"
				error-if-maximum-exceeded="true" expired-url="/marriagerummy" />
		</session-management>
		
		<form-login default-target-url="/rummy" login-page="/" authentication-failure-handler-ref="authfailurehandler"
			login-processing-url="/login" username-parameter="emailid"
			password-parameter="password" authentication-success-handler-ref="authsuccesshandler"
			always-use-default-target="true" />
			
		<logout logout-url="/logout"  success-handler-ref="rummyLogoutHandler"
			 delete-cookies="JSESSIONID,SID" />
			 
		 <!-- <openid-login login-page="/" default-target-url="/rummy" login-processing-url="/login" user-service-ref="googleAuthenticationService">
	          <attribute-exchange identifier-match="https://www.google.com">
	              <openid-attribute name="axContextEmail" type="http://axschema.org/contact/email" required="true"/>
	              <openid-attribute name="oiContactEmail" type="http://schema.openid.net/contact/email" required="true"/>
	              <openid-attribute name="axNamePersonFullname" type="http://axschema.org/namePerson" required="true"/>
	          </attribute-exchange>
		 </openid-login> -->
		 
		<csrf />
	</http>



	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="arun" password="arun" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="deepika" password="deepika" authorities="ROLE_USER" />
				<user name="anirudh" password="anirudh" authorities="ROLE_USER" />
				<user name="hariharan" password="hariharan" authorities="ROLE_USER" />
				<user name="rathika" password="rathika" authorities="ROLE_USER" />
				<user name="nikitha" password="nikitha" authorities="ROLE_USER" />
				<user name="gautam" password="gautam" authorities="ROLE_USER" />
				<user name="phoutty" password="phoutty" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
		<authentication-provider user-service-ref="AuthenticationService">
			<password-encoder hash="bcrypt"></password-encoder>
		</authentication-provider>
		</authentication-manager>

	<beans:bean id="AuthenticationService"
		class="com.adansoft.great21.security.AuthenticationService" />

	<beans:bean id="rummyLogoutHandler"
		class="com.adansoft.great21.security.RummyLogoutSuccessHandler" />

	<beans:bean id="authsuccesshandler"
		class="com.adansoft.great21.security.AuthSuccessHandler" />
		
		<beans:bean id="authfailurehandler"
		class="com.adansoft.great21.security.AuthFailureHandler" />

</beans:beans>

